<div class="bg-white rounded-xl border border-slate-300 shadow-sm overflow-hidden">
  <div class="overflow-x-auto">
    <table class="min-w-full divide-y divide-slate-300 text-sm">
      <thead class="bg-gray-50/50 text-left">
        <tr>
          <th class="px-6 py-4 font-semibold text-gray-600 uppercase">ID</th>
          <th class="px-6 py-4 font-semibold text-gray-600 uppercase">Number</th>
          <th class="px-6 py-4 font-semibold text-gray-600 uppercase">Room type</th>
          <th class="px-6 py-4 font-semibold text-gray-600 uppercase">Description</th>
          <th class="px-6 py-4 font-semibold text-gray-600 uppercase">State</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-slate-300">
        <!-- @for (room_type of room_types(); track room_type.id) { -->
        <tr class="hover:bg-blue-50/30 transition-colors">
          <td class="px-6 py-4 text-gray-700"></td>
          <td class="px-6 py-4 text-gray-700"></td>
          <td class="px-6 py-4 text-gray-700"></td>
          <td class="px-6 py-4 text-gray-700"></td>
          <!-- <td class="px-6 py-4 text-gray-800 font-medium">{{ room.id }}</td>
              <td class="px-6 py-4 text-gray-700">{{ room.number }}</td>
              <td class="px-6 py-4 text-gray-900">{{ room.room_type?.id }}</td>
              <td class="px-6 py-4 text-gray-700">{{ room.description }}</td> 
              <td class="px-6 py-4 text-gray-700">{{ room.state }}</td> -->
          <td class="px-6 py-4 flex space-x-3">
            <button
              class="w-6 h-6 rounded-full flex items-center justify-center flex-shrink-0 text-slate-500 transition-all duration-300 hover:bg-green-50 hover:scale-105 active:scale-95 group"
              title="Editar Registro"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
                />
              </svg>
            </button>

            <button
              class="w-6 h-6 rounded-full flex items-center justify-center flex-shrink-0 text-slate-500 transition-all duration-300 hover:bg-green-50 hover:scale-105 active:scale-95 group"
              title="Eliminar Registro"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="red"
                viewBox="0 0 16 16"
              >
                <path
                  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                />
                <path
                  fill-rule="evenodd"
                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                />
              </svg>
            </button>
          </td>
        </tr>
        <!-- } -->
      </tbody>
    </table>
  </div>
</div>
